<div class="authform">
  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :role => 'form'}) do |f| %>
    <h3 id="authform">新規登録(無料)</h3>
      <p><span style="color:#F00;">＊</span>がついてある項目は必須項目です</p>
    <table>

    <%= devise_error_messages! %>
    <div class="form-group">
      <tr>
      <th><span style="color:#F00;">＊</span><%= f.label :お名前  %></th>
      <td><%= f.text_field :name, :autofocus => true, class: 'form-control' %></td>
      </tr>
    </div>
    <div class="form-group">
      <tr>
      <th><span style="color:#F00;">＊</span><%= f.label :メールアドレス %></th>
      <td><%= f.email_field :email, class: 'form-control' %></td>
      </tr>
    </div>
    <div class="form-group">
      <tr>
      <th><span style="color:#F00;">＊</span><%= f.label :パスワード %></th>
      <td><%= f.password_field :password, class: 'form-control' %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> 文字以上)</em>
        <% end %>
      </td>
      </tr>
    </div>
    <div class="form-group">
      <tr>
      <th><span style="color:#F00;">＊</span><%= f.label :パスワード確認用 %></th>
      <td><%= f.password_field :password_confirmation, class: 'form-control' %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> 文字以上)</em>
        <% end %>
      </td>
      </tr>
    </div>
    </table>
     <p><%= f.submit '新規登録', :class => 'button right' %></p>
  <% end %>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-6">
        <%= render "customers/shared/links" %>
    </div>
  </div>
</div>
