<div class="authform">
  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :role => 'form'}) do |f| %>
    <h3 id="authform"><%= current_user.clubname %>さんのマイページ</h3>
    <table>
    <%= devise_error_messages! %>
    <div class="form-group">
      <tr>
        <th><%= f.label :トプ画 %></th>
        <td> <%= f.file_field :contact_address1%></td>
      </tr>
    </div>
    <div class="form-group">
      <tr>
        <th><%= f.label :連絡先のQRコード %></th>
        <td> <%= f.file_field :contact_address1%></td>
      </tr>
    </div>
    <div class="form-group">
      <tr>
        <th><%= f.label :活動内容を教えてください %></th>
        <td><%= f.text_area :what_we_do,class: 'form-control' %>
        </td>
      </tr>
    </div>

    <div class="form-group">
      <tr>
      <th><%= f.label :主にどこで活動していますか？%></th>
      <td><%= f.text_area :where_we_do, class: 'form-control' %></td>
      </tr>
    </div>
    <div class="form-group">
      <tr>
      <th><%= f.label :どのくらいの頻度で活動していますか？%></th>
      <td><%= f.text_area :how_often_we_do, class: 'form-control' %></td>
      </tr>
    </div>

    <div class="form-group">
      <tr>
      <th><%= @user.clubname %><%= f.label :の雰囲気はどんな感じですか？%></th>
      <td><%= f.text_area :atmosphere, class: 'form-control' %></td>
      </tr>
    </div>
    <div class="form-group">
      <tr>
      <th><%= f.label :年間のイベントを教えてください%></th>
      <td><%= f.text_area :annual_events, class: 'form-control' %></td>
      </tr>
    </div>
    <div class="form-group">
      <tr>
      <th><%= f.label :メッセージ%></th>
      <td><%= f.text_area :text, :placeholder => "例：
    みなさん、こんにちは！#{@user.clubname}です！#{@user.clubname}は創立５年のサークルで今や数々の大学から300人ものメンバーが切っていただけるようになりました！僕たちは最高の仲間たちを楽しい思い出作りをモットーに活動しています！！を大学生活４年間を#{@user.clubname}で過ごしてみませんか？
    元気な１年生たち集まれ〜

    ＊あくまで例です" , class: 'form-control' %></td>
      </tr>
    </div>

    </table>
     <p><%= f.submit '新規登録', :class => 'button right' %></p>
  <% end %>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-6">
        <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
