<div class="container">
<div class="row">
<%= render 'devise/registrations/registration.new.messages' %>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
<p><span style="color:#F00;">＊</span>がついてある項目は必須項目です</p>
 
    <span style="color:#F00;">＊</span> <%= f.label :団体名 %><br/>
    <%= f.text_field :clubname, autofocus: true, :placeholder =>"団体名を入力してください" %>

  <span style="color:#F00;">＊</span><%= f.label :団体の種類を教えてください %>
  <h1>(部活のイメージカラーは<span style="color: #00F;">青</span>、サークルは<span style="color:#008000;">緑</span>、学生団体は<span style="color:#F00;">赤</span>、その他は<span style="color:#808080;">グレー</span>となっております。)</h1>
    <%= f.select :clubtype,[["部活","1"],["サークル","2"],["学生団体","3"],["その他","4"]] %>

  <div class="field">
    <span style="color:#F00;">＊</span><%= f.label :メールアドレス %><br />
    <%= f.email_field :email, autofocus: true, :placeholder =>"メールアドレスを入力してください", autocomplete: "email" %>
  </div>

  <div class="field">
     <strong><%=@user.clubname%>のイメージ画像を選んでください。</strong>
    <%= f.label :トプ画 %>
    <%= f.file_field :profile_img %>
  </div>

  <div class="field">
    <span style="color:#F00;">＊</span><%= f.label :パスワード %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> 文字以上)</em>
    <% end %><br />
    <%= f.password_field :password, :placeholder =>"パスワードを入力してください", autocomplete: "new-password" %>
  </div>

  <div class="field">
    <span style="color:#F00;">＊</span><%= f.label :パスワード確認用 %><br />
    <%= f.password_field :password_confirmation, :placeholder =>"もう一度パスワードを入力してください", autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "登録する" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>
</div>