<div class="authform">
  <%= render 'devise/registrations/registration.new.messages' %>
  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :role => 'form'}) do |f| %>
    <h3 id="authform">新規登録(無料)</h3>
    <table>
       <p><span style="color:#F00;">＊</span>がついてある項目は必須項目です</p>
    <%= devise_error_messages! %>
    <div class="form-group">
      <tr>
      <th><span style="color:#F00;">＊</span><%= f.label :団体名  %></th>
      <td><%= f.text_field :clubname, :autofocus => true, class: 'form-control' %></td>
      </tr>
    </div>
    <div class="form-group">
      <tr>
      <th><span style="color:#F00;">＊</span><%= f.label :団体の種類を教えてください %></th>
      <td><%= f.select :clubtype,[["部活","1"],["サークル","2"],["学生団体","3"],["その他","4"]] %></td>
      </tr>
    </div>

    <div class="form-group">
      <tr>
      <th><span style="color:#F00;">＊</span><%= f.label :参加大学 %></th>
      <td>     <%= f.collection_check_boxes( :college_ids, College.all,
       :id, :name) do |b| %>
       <% b.label {b.check_box + b.text} %>
         <% end %>
       </td>
      </tr>
    </div>

    <div class="form-group">
      <tr>
      <th><%= f.label :トプ画 %></th>
      <td> <%= f.file_field :profile_img %></td>
      </tr>
    </div>
    <div class="form-group">
      <tr>
      <th><span style="color:#F00;">＊</span><%= f.label :メールアドレス %></th>
      <td><%= f.email_field :email, class: 'form-control' %></td>
      </tr>
    </div>
    <div class="form-group">
      <tr>
      <th><span style="color:#F00;">＊</span><%= f.label :パスワード %></th>
      <td><%= f.password_field :password, class: 'form-control' %>  <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> 文字以上)</em>
    <% end %></td>

      </tr>
    </div>
    <div class="form-group">
      <tr>
      <th><span style="color:#F00;">＊</span><%= f.label :パスワード確認用 %></th>
      <td><%= f.password_field :password_confirmation, class: 'form-control' %>  <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> 文字以上)</em>
    <% end %>
      </td>
      </tr>
    </div>
    </table>
     <p><%= f.submit '新規登録', :class => 'button right' %></p>
  <% end %>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-6">
        <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
