<%= render 'users/test' %>

<% if user_signed_in? && current_user.id.to_s == params[:id] %>
	<!-- マイページ -->
	<%= current_user.clubname %>
	<!-- ここまで -->
<% else %>
	<%= @event.user.clubname %>
<% end %>

<div class="container">
	<!-- モーダルウィンドウを活用したイベント申し込みフォーム -->
	<%= render 'users/user_show_apply' %>
	<!-- ここまで -->
	<!-- ユーザーそれぞれの活動詳細、説明 -->
	<%= render 'users/user_show_explain' %>
	<!-- ここまで -->
	<div class="contents row">
		<div class="col-md-12">

				<% if user_signed_in? && current_user.id.to_s == params[:id] %>
					<!-- マイページの投稿一覧 -->
					<p><%= current_user.clubname %>さんの投稿一覧
					</p>
					<% if @my_events.blank? %>
					<h2><%= current_user.clubname %>さんはまだ投稿していません</h2>
					<% end %>
						<% @my_events.each do |event| %>
						　<!-- 自分の投稿したイベント一覧 -->
							<div class= "event-box">

							     <p>イベント名 : <strong><%= event.eventname %></strong>
								 </strong></p>
								 <p>参加費 : <%= event.cost %></p>
								 <p>開催場所 : <%= event.where %></p>
								 <p>開催日時 : <%= event.when.strftime('%m月%d日 %H：%M') %>
								 </p>
								<!-- 追加 -->

								<%= link_to "削除", event, method: :delete , data: { confirm: '本当に削除しますか？' } %>
								<!--   path名はevent,メソッドはdelete -->
								<%= link_to "編集", edit_event_path(event.id) %>
		   						<!-- ここまで -->

							</div>
						<% end %>
				<% else %>
						<!-- 以下、他の人のホームページに行った時 -->
						<p>&emsp;&emsp;<%= @event.user.clubname %>　さんの投稿一覧    </p>
					    <% @events.each do |event| %>
					    <!-- 他の人のホームページの投稿一覧 -->
						　  <div class= "event-box">
								 <p>イベント名 : <strong><%= event.eventname %></strong>
								 </strong></p>
								 <p>参加費 : <%= event.cost %></p>
								 <p>開催場所 : <%= event.where %></p>
								 <p>開催日時 : <%= event.when.strftime('%m月%d日 %H：%M') %>
								 </p>
						　  </div>
						<% end %>
				<% end %>
		</div>
	</div>
</div>
