
<h1>ここでイベント情報を編集できます。</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@event) do |f| %>
      <%= f.label :eventname %>
      <%= f.text_field :eventname %>

      <%= f.label :開催日時 %>
      <%= f.text_field :when, :class => 'datepicker' %>

      <%= f.label :開催場所 %>
      <%= f.text_field :where %>

      <%= f.label :参加費　%>
      <%= f.text_field :cost %>

      <%= f.label :ひと言 %>
      <%= f.text_field :text %>

      <%= f.submit "再投稿する", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
