<!-- <div class = "event-box"> -->
<div class="title">&emsp;・<%= link_to "#{@event.user.clubname}" ,user_path(@event.user.id), metho: :get %>さんのイベントです</div>
<div class="event-shows-box-img" >
	<%= image_tag @event.picture %>
	<%= image_tag @event.picture2 %>
</div>
<div class="event-shows_details">	
	<div class="event-shows-box-eventname">
		<h id="event-eventname">
		<span class="marker_eventname">		
			<%= link_to @event.eventname, event_path(@event.id), method: :get  %>
		</span>
		</h>
	</div>
	<div class="event-shows-box-1">
		<span class="event-shows-box-title"><span class="marker_yellow_hoso">参加費:</span>&emsp;¥<%= @event.cost %>
		</span>
		<span class="event-box-title"><span class="marker_yellow_hoso">時間:</span>&emsp;<%= @event.when.strftime('%m月%d日 %H：%M') %> 〜
		</span>　　　　　
		<span class="event-shows-box-title"><span class="marker_yellow_hoso">場所:</span>&emsp;<%= @event.where %>
		</span>
	</div>
	<div class="event-shows-box-2">
		<h id="event-clubname">
			<span class="marker_yellow_hoso"><%= link_to "#{@event.user.clubname}", user_path(@event.user.id), method: :get %>さんから、ひと言！&emsp;
			</span>
		</h>	
	</div>
	<div class="event-shows-box-text"><%= @event.text %>
	</div>
</div>
<div class="title">
<%if @event.user.clubtype == '1'%><!-- 部活 -->・<%= @event.user.clubname %>さんはこんな部活です
<%elsif @event.user.clubtype == '2'%><!-- サークル -->・<%= @event.user.clubname %>さんはこんなサークルです
<%elsif @event.user.clubtype == '3'%><!-- 学生団体 -->・<%= @event.user.clubname %>さんはこんな団体です
<% else %><!-- その他 --><h2>・<%= @event.user.clubname %></h2>
<% end %>
</div>
<!-- 部活の雰囲気 -->
<%= render 'events/event_show_club_detail' %>
<!-- 登録フォーム -->
<%= render 'users/user_show_apply' %>