<header>
  <div class="container">
      <% if user_signed_in? %>
      <!-- ログインしてるユーザーによって背景色の分岐 -->
          <% if current_user.clubtype == '1' %>
            <div class="header-container" style = 'background-color: #75A9FF;'>
              <div class="header_loged_in_user"><%= current_user.clubname %>さんログイン中</div>
              <%= render 'layouts/header_main'  %></div>
          <% elsif current_user.clubtype == '2' %>
            <div class="header-container" style = 'background-color: #78FF94;'>
              <div class="header_loged_in_user"><%= current_user.clubname %>さんログイン中</div>
              <%= render 'layouts/header_main'  %>
            </div>
          <% elsif current_user.clubtype == '3'  %>
            <div class="header-container" style = 'background-color: #FF82B2;'>
              <div class="header_loged_in_user"><%= current_user.clubname %>さんログイン中</div>
              <%= render 'layouts/header_main'  %>
            </div>
          <% elsif current_user.clubtype == '4' %>
            <div class="header-container" style = 'background-color: #CCCCCC;'>
             <div class="header_loged_in_user"><%= current_user.clubname %>さんログイン中</div>
              <%= render 'layouts/header_main'  %>
            </div>
          <% end %>
      <% elsif customer_signed_in? %>
        <div class="header-container" style = 'background-color: white;'>
          <div class="header_loged_in_user"><%= current_customer.name %>さんログイン中</div>
          <%= render 'layouts/header_main'  %>
        </div>
      <% else %>
        <div class="header-container" style = 'background-color: white;'>
          <div class="header_loged_in_user"></div>
          <%= render 'layouts/header_main'  %>
        </div>
      <% end %>
  </div>
</header>



